.index-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('./index__bg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 120vh;
    background-size: cover;
}