footer.copyright-bar
    p.copyright-bar__text Copyright © 2018 Toxin отель. Все права зачищены.
    
    ul.copyright-bar__social-list
        li.copyright-bar__list-elem 
            a.copyright-bar__social-link(href="#") twitter
        li.copyright-bar__list-elem 
            a.copyright-bar__social-link(href="#") facebook-square
        li.copyright-bar__list-elem 
            a.copyright-bar__social-link(href="#") instagram