.login-form {
	display: flex;
	width: 380px;
	height: 358px;
	flex-direction: column;
	justify-content: space-between;
    padding-left: 30px;
    background: white;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.form-headline {
	display: flex;
	font-family: "Quicksand-Bold";
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #1F2041;
}
.form-input {
	display: flex;
	justify-content: flex-start;
	width: 320px;
	height: 44px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgba(31, 32, 65, 0.25);
	padding-left: 15px;
}
.form-subtitle {
	font-family: 'Montserrat-Bold';
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1F2041;
}




