form.room-form
    h1.form-headline Найдём номера под ваши пожелания
    .room-form__arrival
        h2.form-subheadline прибытие
        input.datapicker-here(type='text' class='datepicker-here')
    .room-form__departure
        h2.form-subheadline выезд
        input.datapicker-here(type='text' class='datepicker-here')