header.header
  .header__logo-group
    img.logo-group__circle(src='./logo-group/circle.svg', alt='Toxin logo')
    img.logo-group__TOXIN(src='./logo-group/TOXIN.svg', alt='Toxin')
  .header__nav-group
    ul.header__links
      li.header__li
        a.header__link(href='#') О нас
      li.header__li
        a.header__link(href='#')
          | Услуги
          span.arrow-down expand_more
      li.header__li
        a.header__link(href='#') Вакансии
      li.header__li
        a.header__link(href='#') Новости
      li.header__li
        a.header__link(href='#')
          | Соглашения
          span.arrow-down expand_more
    .nav-group__btn-group
      button.nav-group__btn.log-in войти
      button.nav-group__btn.reg зарегистрироваться
