*{
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header__logo-group{
    display: flex;
    width: 105.69px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.nav-group__btn-group{
    margin-right: 20px;
}

ul li{
    display: inline;
}

.header__nav-group{
    display: flex;
    height: 34px;
    align-items: center;
    justify-content: space-between;
}

.nav-group__links{
    display: flex;
    justify-content: space-between;
    width: 447px;
    height: 21px;
}

.nav-group__link{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
}

.nav-group__link:hover{
    color: rgba(31, 32, 65, 0.75);
}

.arrow-down{
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
}

.nav-group__btn-group{

}

.nav-group__btn{
    height: 34px;
    border: 2px solid #BC9CFF;
    border-radius: 22px;
}

.log-in{
    width: 87px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    background: #FFFFFF;
    color: #BC9CFF;
}

.log-in:hover{
    background: #BC9CFF;
    color: #FFFFFF;
}

.reg{
    width: 196px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.reg:hover{
    color: #8BA4F9;
    background: #FFFFFF;
}