<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Color and Type
    body
        header.header
            img.header__page-logo(src="./__page-logo/header__page-logo.svg", alt="Page logo")
        
        ul.color-list
            li.color.dark-shade-100 
                p.color-info 
                    span Dark Shade 100% #1F2041
            li.color.dark-shade-75 Dark Shade 75% #1F2041
            li.color.dark-shade Dark Shade 100% #1F2041
            li.color.dark-shade Dark Shade 100% #1F2041
            li.color.dark-shade Dark Shade 100% #1F2041
            li.color.dark-shade Dark Shade 100% #1F2041
            li.color.dark-shade Dark Shade 100% #1F2041



    script(src="./color-type-page.js")
