header.header
  .header__logo-group
    img.logo-group__circle(src='./svg/header__logos/circle.svg', alt='Toxin logo')
    img.logo-group__TOXIN(src='./svg/header__logos/TOXIN.svg', alt='Toxin')
  .header__nav-group
    ul.nav-group__links
      li
        a.nav-group__link(href='#') О нас
      li
        a.nav-group__link(href='#')
          | Услуги
          span.arrow-down expand_more
      li
        a.nav-group__link(href='#') Вакансии
      li
        a.nav-group__link(href='#') Новости
      li
        a.nav-group__link(href='#')
          | Соглашения
          span.arrow-down expand_more
    .nav-group__btn-group
      button.nav-group__btn.log-in войти
      button.nav-group__btn.reg зарегистрироваться
