form.reg-form
  h1.form-headline Регистрация аккаунта
  input#input-firstname.form-input(type='text', placeholder='Имя')
  input#input-secondname.form-input(type='text', placeholder='Фамилия')
  .gender-check-group
    input#genderChoice1.genderChoice(type='radio', name='gender', value='male')
    label(for='genderChoice1') Мужчина
    input#genderChoice2.genderChoice(type='radio', name='gender', value='female')
    label(for='genderChoice2') Женщина
  h2.form-subtitle дата рождения
  input#input-birthdate.form-input(type='date', placeholder='ДД.ММ.ГГГГ')
  h2.form-subtitle данные для входа в сервис
  input#input-email.form-input(type='email', placeholder='Email')
  input#input-pswrd.form-input(type='password', placeholder='Пароль')
  .slider-group
    label#form-slider.switch
      input(type='checkbox')
      span.slider.round
    label.slider-label(for='form-slider') Получать спецпредложения
  button.form-button-payment
    p.button-text перейти к оплате 
    p.button-arrow arrow_forward
    p
  .form-footer
    p.form-suptext Уже есть аккаунт на Toxin
    button.form-button-log
      p.button-log-text Войти
