.login-form
  h1.form-headline Войти
  input#input-email.form-input(type='email', placeholder='Email')
  input#input-pswrd.form-input(type='password', placeholder='Пароль')
  button.form-button-payment
    p.button-text войти
  .form-footer
    p.form-suptext Нет аккаунта на Toxin?
    button.form-button-log
      p.button-log-text Создать
