*{
    box-sizing: border-box;
}

.room-prew{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 257px;
    left: 980px;
    top: 559.5px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}


.room-prew__img{
    display: flex;
    justify-content: space-between;
    height: 59%;
    background-image: url('../svg/room-prew-bg.svg');
    background-size: cover;
}

.arrow-btn{
    display: flex;
    align-items: center;
    height: 151px;
    width: 42px;
    border: 0;
}

.left-side{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.right-side{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.arrow{
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.right{
    transform: rotate(90deg);
}

.left{
    transform: rotate(90deg);
}

.room-prew__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 41%;
}

.info__about{
    display: flex;
    width: 233px;
    height: 50%;
    align-items: center;
    justify-content: center;
    background-color: teal;
    background-size: cover;
}

.about__type{
    display: flex;
    height: 33,3%;
    justify-content: space-around;
    align-items: center;
}

.info__line{
    width: 230px;
    height: 1px;
    background: rgba(31, 32, 65, 0.1);
}


