<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title TOXIN Hotels
    body
        header.header
            include header/header.pug

        block.index-page
            

        block.footer

            include copyright-bar/copyright-bar.pug

        script(src="./header/header.js")
        script(src="./global/global.js")
        script(src="./copyright-bar/copyright-bar.js")

