footer.footer
    .footer__info-group.group
        .info-group__logos
            img.logo-group__circle(src='./footer/__info-group/__logos/circle.svg', alt='Toxin logo')
            img.logo-group__TOXIN(src='./footer/__info-group/__logos/TOXIN.svg', alt='Toxin')
        p.info-group__text.quote Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    
    .footer__navig-group.group
        h1.group-headline навигация
        ul.group__links
            li.group__li 
                a.nav-group__link(href="#") О нас
            li.group__li 
                a.nav-group__link(href="#") Новости
            li.group__li 
                a.nav-group__link(href="#") Служба поддержки
            li.group__li 
                a.nav-group__link(href="#") Услуги

    .footer__nav-about.group
        h1.group-headline о нас
        ul.group__links
            li.group__li 
                a.nav-group__link(href="#") О сервисе
            li.group__li 
                a.nav-group__link(href="#") Наша команда
            li.group__li 
                a.nav-group__link(href="#") Вакансии
            li.group__li 
                a.nav-group__link(href="#") Инвесторы

    .footer__nav-support.group
        h1.group-headline Служба поддержки
        ul.group__links
            li.group__li 
                a.nav-group__link(href="#") Соглашения
            li.group__li 
                a.nav-group__link(href="#") Сообщества
            li.group__li 
                a.nav-group__link(href="#") Связь с нами

    .footer__nav-subscription.group
        .footer__nav-info
            h1.group-headline Подписка
            p.nav-subscription__text.quote Получайте специальные предложения и новости сервиса
        input#input-email.form-input(type='email', placeholder='Email')